<!doctype html>

{# <h1>Hello {{name}}</h1>#}
{# <title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}#}


{% extends "layout.html" %}
{% block body %}

<div class="block1">

  <h2>Search for a container that fits your space:</h2>
      <h1>(type in the length, width, and height of the container)</h1>
      <form action="." method="POST">
          <input type="number" name="text">
          <input type="number" name="text2">
          <input type="number" name="text3">
          <input type="submit" name="my-form" value="Send">
      </form>


{# <h1>Hello {{name}}!</h1>#}
<br><br>
  <h2>Need some inspiration?</h2>
  <h1>
    
    Here is an interesting container for you:
    <a href="{{c['url']}}">
      {{c['title']}}</a>
</h1>



<p>
{{c['dimensions'][0]}}
</p>
<p>
<a href="{{c['url']}}">
  <img src="{{c['image'][0]}}/">
</a>
    <p>

    {{"$"+c['price'][0]}}
      </p>

<img src=c['image'][0]>
</div>
{% endblock %}
