<!doctype html>

{# <h1>Hello {{name}}</h1>#}
{# <title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}#}


{% extends "layout.html" %}
{% block body %}

<div class="block1">
<h1>Hello {{name}}!</h1>
  <h2>Here is an interesting container for you: </h2>
  <p>
{{quote['title']}}
</p>
<p>
{{quote['dimensions']}}
</p>
<p>
{{quote['url']}}
  </p>
{# <img src="http://www.naturalprogramming.com/images/smilingpython.gif">#}
</div>
{% endblock %}
